.calc {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px;
  grid-template-rows: 50px 50px 50px 50px 50px 50px;
  gap: 25px;
  width: 325px;
  background: $white;
  padding: 22px;
  border-radius: 5px;
}


.calc__output {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: $grey-dark;
  border-radius: 5px;
  padding: 0 15px;
  color: $white;
  font-size: 18px;
  letter-spacing: 1px;
}

.calc__button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.calc__button_null {

}

.calc__button_equal-sign {
  grid-column: 1 / -1;
  background: $orange;
}
