.container {
  width: 900px;
  margin: 0 auto;

  @include desktop-large {
    width: 1200px;
    margin: 0 auto;
  }

  @include tablets {
    width: 100%;
    padding: 0 35px;
  }

  @include phones {
    padding: 0 16px;
  }
}
